@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: #ffffff;
}

.visually-hidden  {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.button {
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

/* HEADER */

.navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  width: 1200px;
  padding: 0 71px 0px 56px;
}

.navigation-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  background: #ffffff;
  width: 480px;
  margin: 12px 0 15px 0;
  padding: 0;
}

.navigation-item {
  margin-right: 3px;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height:22px;
  font-weight: 700;
  color: #000000;
  text-decoration: inherit;
  border-bottom: 2px none;
  padding: 5px 12px 5px 12px;
  border: 3px solid #ffffff;
  border-radius: 10px;
}

.logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);

}
.navigation-list-user {
  justify-content: flex-end;
  padding: 0;
  margin: 13px 0 14px 0;
}

.navigation-item-user {
}

.navigation-link:hover {
  color: #756257;
}
.navigation-link:focus {
  color: #756257;
  border-color:#83B3D3;
}
.navigation-link:active {
  color: #857267;
  border-bottom: 2px solid #756257;
}

.navigation-item-user  {
  margin-right: 1px;
}

.navigation-link {
  min-height: 22px;
  min-width: 8px;
}

.navigation-link-search {
  background: url('../img/svg/search.svg') no-repeat 50% 50%;
}

.navigation-link-favorites {
  background: url('../img/svg/favorites.svg') no-repeat 50% 50%;
}
/* номер пока закоментировал - мешается
.navigation-link-number {
  font-size: 9px;
  font-weight: 400;
  text-shadow: none;
  color: #eeeeee;
  background-color: #7DB54F ;
  padding: 3px;
  border-radius: 50%;
}
*/

.navigation-item-button {
  align-self: center;
}


.navigation-link-target {
  font-size: 16px;
  line-height:20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #756257;
  border: 3px solid #756257;
  border-radius: 4px;
  box-sizing: border-box;
  width:160px;
  text-align: center;
  padding: 5px 12px 6px 12px;
  margin-left: 22px;
}

/* FOOTER */
.footer-page {

}

.footer-social {
  box-sizing: border-box;
  width: 1200px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 67px 38px 57px;
}

.footer-social-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.footer-social-item {
}

.footer-social-link {
  padding: 5px 14px;
}

.contacts-phone {
  width: 720px;
  font-size: 40px;
  line-height:50px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.htmlacademy-link {
  height: 50px;
  width: 120px;
  padding-top: 10px;
}

/* SUBSCRIBE */

.subscribe {
  width: 1200px;
  text-align: center;
  background: url('../img/subscribe-background.jpg') no-repeat 0px 0px;
  color: #ffffff;
  min-height : 268px;
  padding: 92px 0 50px 0;
}

.subscribe-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 720px;
  padding: 0;
  margin: 0 auto 30px auto;
}

.subscribe-description {
  display: block;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  max-width: 530px;
  padding: 0;
  margin: 0 auto 47px auto;
}

.subscribe-form {
  display: flex;
  max-width: 800px;
  padding: 0;
  margin: 0 auto 0 auto;
}

.subscribe-input {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  background-color: #F2F2F2;
  border: none;
  border-radius: 10px 0 0 10px;
  width: 560px;
  padding: 20px;
}

.button-subscribe {
  flex-shrink: 1;
  font-size: 20px;
  line-height:20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #83B3D3;
  border: none;
  border-radius: 0 10px 10px 0;
  width: 200px;
  padding: 10px;
}

/* *** Основная страница *** */

.main-container {
  width: 1200px;
  flex-grow: 1;
}

.main-index {
  background: url('../img/svg/divider.svg') no-repeat bottom
  ,url('../img/sedona-background.jpg') no-repeat  0 0;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 76px;
}

.advantages {
}

.advantages-header-center {
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}

.advantages-header {
  font-size: 30px;
  line-height:36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 62px;
}

.advantages-header-description {
  font-size: 22px;
  line-height:36px;
  font-weight: 400;
  color: #333333;
  padding-top: 33px;
  padding-bottom: 79px;
}

.advantages-list {
  margin:0;
  padding:0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  counter-reset: num;
}

.advantages-item-img {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.advantages-item {
  text-align: center;
  color: #ffffff;
  min-height: 384px;
}

.advantages-item-description {
  width: 400px;
}

.advantages-title span {
  display: block;
}

.advantages-title {
  font-size: 24px;
  line-height:28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 98px 0 29px 0;
  padding: 0;
  max-width: 400px;
  max-height: 60px;
}

.advantages-numerator::before {
  content: '— №' counter(num) ' —';
  counter-increment: num;
}

.advantages-description span {
  display: block;
}

.advantages-description {
  display: block;
  font-size: 18px;
  line-height:21px;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  max-width: 250px;
}

.advantages-numerator {
  margin-bottom: 28px;
}

.advantages-blue-dark {
  width:1200px;
  color: #ffffff;
  background: #83B3D3;
}

.advantages-blue {
  color: #000000;
  background: rgba(131, 179, 211, 0.2);
}

.advantages-blue-light {
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.services-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

.services-item {
  width:400px;
  color: #000000;
  min-height: 384px;
}

.services-icon {
  display: flex;
  align-items: flex-end;
  width: 70px;
  height: 74px;
  margin: 89px auto 0 auto;
  padding:0;
}

.services-title {
  font-size: 24px;
  line-height:28px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 250px;
  margin: 23px auto 0 auto;
  padding:0;
}

.services-description span {
  display: block;
}

.services-description {
  font-size: 18px;
  line-height:21px;
  font-weight: 400;
  color: #333333;
  max-width: 250px;
  margin: 20px auto 0px auto;
  padding:0;
}

.services-link {
  text-decoration: none;
  color: inherit;
  background: none;
}

.search {
  text-align: center;
  min-height: 280px;
  padding-top: 88px;
  padding-bottom: 49px;
}

.search-header {
  font-size: 30px;
  line-height:36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  max-width: 720px;
  height: 52px;
  padding: 0;
  margin: 0 auto;
}
.search-description span {
  display: block;
}

.search-description {
  font-size: 22px;
  line-height:26px;
  font-weight: 400;
  color: #333333;
  max-width: 720px;
  height: 37px;
  padding: 0;
  margin: 15px auto 0 auto;
}

.search-link {
  display: block;
  font-size: 20px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756257;
  border-radius: 10px;
  max-width: 575px;
  margin: 73px auto 0px auto;
}

/* Вторая страница - список гостиниц */
.main-inner {
  background: url('../img/catalog-background.jpg') no-repeat 0px 0px;
  color: #ffffff;
  padding: 31px 71px 0 71px;
  box-sizing: border-box;
  min-height: 408px;
}

.booking-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin:0;
}

.booking-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
}

.booking-menu-link {
  text-decoration: none;
}

.booking-list-filter {
  padding-bottom: 30px;
}

.booking-menu-item {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
}

/* ФИЛЬТРА booking-list-filter */

.booking-list {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  padding: 0px 72px 0px 72px
}
.booking-filter {
  display: grid;
  grid-template-columns: 215px 312px 370px 160px;
  column-gap: 0px;
}

.booking-filter-group {
  border: none;
  background: none;
  color: #ffffff;
  padding: 15px 0;
  margin: 0;
}

.booking-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.booking-filter-list {
  list-style: none;
  padding:0;
}

.booking-filter-item {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding:0;
  margin-top: 10px;
}

.booking-filter-label {
  font-size: 18px;
  line-height: 43px;
  font-weight: 400;
  color: rgba( 255 , 255 ,255 , 0.3);
  margin-right: 10px;
}

.booking-filter-price {
  max-width: 278px;
}

.booking-filter-input-border {
  display: flex;
  border: 2px solid #ffffff ;
  border-radius: 4px;
  margin-top: 20px;
}

.booking-filter-input {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 48px;
  font-weight: 400;
  color: #ffffff;
  border: none;
  background: none;
  max-width: 110px;
  padding: 0 12px;
}

.booking-filter-input#input-max {
  border-left: 2px solid #ffffff;
}

.booking-filter-input::-webkit-outer-spin-button,
.booking-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.booking-button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-submit {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background: #83B3D3;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  margin-top: 10px;
}

.button-cancel {
  font-weight: 400;
  text-transform: none;
  border: none;
  background: none;
  color: #ffffff;
  margin-top: 10px;
}

/* СТРОКА  -  Результат выборки */

.view-type-toggle-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 18px auto;
}

.filter-result {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-right: auto;
}

.view-toggle-link {
  display: block;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 9px 0px;
  margin-left: 8px;
}
.view-toggle-icon {
  display: block;
  text-align: center;
  width: 44px;
  height: 26px;
}

.view-select-sort {
  display: block;
  box-sizing: border-box;
  min-width: 287px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 11px;
  margin-right: 73px;
}

/* СПИСОК ОТЕЛЕЙ */

.hotel-list {
  list-style: none;
  color: #333333;
  background: #ffffff;
  padding: 0;
  margin: 0;
  border-top: 1px solid #E5E5E5;
}

.hotel-card {
  display: grid;
  grid-template-columns: 180px auto 160px;
  column-gap: 37px;
  padding: 28px 0;
  border-bottom: 1px solid #E5E5E5;
}

.hotel-card-image {
  display: block;
}

.hotel-card-group-main {
  display: grid;
  grid-template-rows: min-content auto;
}

.hotel-card-group-detail {
  display: grid;
  grid-template-columns: 151px 160px;
  grid-template-rows: auto 37px;
  column-gap: 8px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
}

.hotel-card-desc-small {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.hotel-card-link {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: #756257;
  border-radius: 4px;
}

.hotel-card-button {
  color: #ffffff;
  background: #83B3D3;
  border: none;
  border-radius: 5px;
}

.hotel-group-rank {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-card-star {
  width: 115px;
  height: 17px;
  align-self: center;
}

.hotel-card-star-divider {
  height: 17px;
  background: url('../img/svg/star.svg') repeat-x 0 0;
  margin: 5px auto;
}

.hotel-card-rank {
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

/* pagination */

.pagination-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #E5E5E5;
  padding-top: 30px;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  padding-right: 8px;
}
.hotel-view-more {
  display: table;
  text-align: center;
  margin: 30px auto;
  width: 625px;
}

.pagination-text {
  font-size: 20px;
  line-height: 55px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #83B3D3;
  border-radius: 5px;
}

.pagination-link {
  display: block;
  text-align: center;
  width: 55px;
}

.hotel-view-more {

}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
}

.view-size {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.view-size-control {
  box-sizing: border-box;
  min-width: 160px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 13px 12px;
  margin-left: 50px;
}
