@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: #ffffff;
}

.visually-hidden  {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-size: 16px;
  line-height:21px;
  font-weight: 700;
  text-transform: uppercase;
}

/* HEADER */

.navigation {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  margin: 0;
  padding: 0 70px;
}

.navigation-list {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  list-style: none;
  background: #ffffff;
  width: 480px;
  margin: 0;
  padding: 0;
}

.navigation-item {
  margin:  0 16px;
}

.navigation-list-user {
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.navigation-item-user {
  margin-left: 16px;
}

.navigation-link {
  font-size: 20px;
  line-height:26px;
  font-weight: 700;
  color: #000000;
  text-decoration: inherit;
}
.navigation-link:hover {
  color: #756257;
  text-shadow: none;
}
.navigation-link:focus {
  color: #756257;
  border: 2px solid #756257;
  text-shadow: none;
}
.navigation-link:active {
  color: #857267;
  text-shadow: none;
}

.navigation-link-search {
  background: url('../img/svg/search.svg') no-repeat 0px 0px;
  width: 30px;
}

.navigation-link-favorites {
  background: url('../img/svg/favorites.svg') no-repeat 0px 0px;
  width: 30px;
}

.navigation-link-number {
  font-size: 9px;
  font-weight: 400;
  text-shadow: none;
  color: #eeeeee;
  background-color: #7DB54F ;
  padding: 3px;
  border-radius: 50%;
}

.navigation-item-button {
  width: 160px;
  height: 37px;
  background: #756257;
  border-radius: 4px;
  text-align: center;
}
.navigation-link-target {
  font-size: 16px;
  line-height:21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

/* FOOTER */
.footer-social {
  width: 1060px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 71px;
}

.footer-social-list {
  display:flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.footer-social-item {
  margin: 0 16px;
}
.contacts-phone {
  width: 720px;
  font-size: 40px;
  line-height:40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

/* SUBSCRIBE */

.subscribe {
  width: 1200px;
  height: 411px;
  text-align: center;
  background: url('../img/subscribe-background.jpg') no-repeat 0px 0px;
  color: #ffffff;
}

.subscribe-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscribe-input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  background-color: #F2F2F2;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.button-subscribe {
  font-size: 20px;
  line-height:26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #83B3D3;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

/* *** Основная страница *** */

.main-container {
  width: 1200px;
  flex-grow: 1;
}

.main-index {
  background: url('../img/svg/divider.svg') no-repeat 0px 428px
  ,url('../img/sedona-background.jpg') no-repeat 0px 0px;
}

.logo {
  display: table;
  margin: auto;
}
.advantages {
  display:flex;
  flex-direction: column;
}

.advantages-header {
  font-size: 30px;
  line-height:36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-header-description {
  font-size: 22px;
  line-height:36px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.advantages-list {
  margin:0;
  padding:0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  counter-reset: num;
}

.advantages-description::before {
  content: '— №' counter(num) ' —';
  counter-increment: num;
}

.advantages-item {
  display:flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  color: #ffffff;
}


.advantages-item-description {
  width:400px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.advantages-title {
  font-size: 24px;
  line-height:28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height:21px;
  font-weight: 400;
}

.advantages-blue-dark {
  width:1200px;
  color: #ffffff;
  background: #83B3D3;
}

.advantages-blue {
  color: #000000;
  background: rgba(131, 179, 211, 0.2);
}

.advantages-blue-light {
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.services-list {
  margin:0;
  padding:0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  background: #ffffff;
}

.services-item {
  width:400px;
  color: #000000;
}

.services-title {
  font-size: 24px;
  line-height:28px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-description {
  font-size: 18px;
  line-height:21px;
  font-weight: 400;
  color: #333333;
}

.services-link {
  text-decoration: none;
  color: inherit;
  background: none;
}

.search {
  text-align: center;
}

.search-header {
  font-size: 30px;
  line-height:36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.search-description {
  font-size: 22px;
  line-height:26px;
  font-weight: 400;
  color: #333333;
}

.search-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756257;
  padding: 10px;
  border-radius: 10px;
}

/* Вторая страница - список гостиниц */
.main-inner {
  background: url('../img/catalog-background.jpg') no-repeat 0px 0px;
  color: #ffffff;
  padding: 0 71px;
}

.booking-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin:0;
}

.booking-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.booking-menu-link {
  text-decoration: none;
}

.booking-menu-item {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
}

.booking-list {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}
.booking-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.booking-filter-group {
  width: 150px;
  padding: 0;
  margin: 0;
}

.booking-filter {
}

.booking-filter-group {
  border: none;
  background: none;
  color: #ffffff;
}


.booking-filter-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.booking-filter-list {
  list-style: none;
  padding:0;
}

.booking-filter-item {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding:0;
}

.booking-filter-label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.booking-filter-input-border {
  border: #ffffff solid 1px;
  border-radius: 4px;
}
.booking-filter-input {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
  border: none;
  background: none;
}
.button-submit {
  color: #ffffff;
  background: #83B3D3;
  border-radius: 5px;
}

.button-cancel {
  font-weight: 400;
  text-transform: none;
  border: none;
  background: none;
  color: #ffffff;
}

.filter-result {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.view-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.view-toggle-link {
  text-decoration: none;
  color: #000000;
  background: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 5px;
}

.select-control {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 5px;
}


.hotel-list {
  list-style: none;
  color: #333333;
  background: #ffffff;
  padding: 0;
}

.hotel-card {
  display: flex;
  flex-direction: row;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-type,.hotel-card-price {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.hotel-card-link {
  text-decoration: none;
  color: #ffffff;
  background: #756257;
  border-radius: 3px;
}

.hotel-card-button {
  color: #ffffff;
  background: #83B3D3;
  border-radius: 5px;
}

.hotel-card-rank {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  padding: 5px;
}
.hotel-view-more {
  display: table;
  margin: 0 auto;
}


.hotel-view-more, .pagination-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #83B3D3;
  border-radius: 5px;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
}

.view-size {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.view-size-control {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 5px;
}
